@import url('https://fonts.googleapis.com/css?family=Poppins:wght@500');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 0, 34);
  color: whitesmoke;
  /* overflow: hidden; */
}

